name: config

on:
  workflow_call:
    outputs:
      go_version:
        value: ${{ jobs.config.outputs.go_version }}
      cosign_version:
        value: ${{ jobs.config.outputs.cosign_version }}
      err_on_vul_sev:
        value: ${{ jobs.config.outputs.err_on_vul_sev }}
      linter_version:
        value: ${{ jobs.config.outputs.linter_version }}
      syft_version:
        value: ${{ jobs.config.outputs.syft_version }}

permissions:
  contents: read

jobs:

  config:

    env:
      # Set the following variables to your desired values
      GO_VERSION: ^1.24
      COSIGN_VERSION: v2.4.1
      ERR_VULN_SEV: 'CRITICAL,HIGH,MEDIUM'
      LINTER_VERSION: v2.10.1
      SYFT_VERSION: v0.22.2

    outputs:
      go_version: ${{ steps.conf.outputs.go_version }}
      cosign_version: ${{ steps.conf.outputs.cosign_version }}
      err_on_vul_sev: ${{ steps.conf.outputs.err_on_vul_sev }}
      linter_version: ${{ steps.conf.outputs.linter_version }}
      syft_version: ${{ steps.conf.outputs.syft_version }}

    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:

    - name: Export Config
      id: conf
      run: |
        echo "go_version=${{ env.GO_VERSION }}" >> $GITHUB_OUTPUT
        echo "cosign_version=${{ env.COSIGN_VERSION }}" >> $GITHUB_OUTPUT
        echo "err_on_vul_sev=${{ env.ERR_VULN_SEV }}" >> $GITHUB_OUTPUT
        echo "linter_version=${{ env.LINTER_VERSION }}" >> $GITHUB_OUTPUT
        echo "syft_version=${{ env.SYFT_VERSION }}" >> $GITHUB_OUTPUT