name: test
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:

  test:
    uses: ./.github/workflows/test.yaml
    permissions:
      contents: read
