name: release
on:
  push:
    tags:
    - 'v[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: read

jobs:

  test:
    uses: ./.github/workflows/test.yaml
    permissions:
      contents: read
    secrets: inherit

  release:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs:
    - test
    concurrency:
      group: release-${{ github.ref }}
      cancel-in-progress: false
    permissions:
      contents: write
      packages: write
      id-token: write
      attestations: write

    steps:
    - name: Checkout Code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Setup Go Environment
      uses: ./.github/actions/setup-go-env

    - name: Setup Build Tools
      uses: ./.github/actions/setup-build-tools

    - name: Build CLI
      run: goreleaser release --clean
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        HOMEBREW_TAP_GITHUB_TOKEN: ${{ secrets.HOMEBREW_TAP_GITHUB_TOKEN }}
        KO_DOCKER_REPO: ghcr.io/${{ github.repository }}

    - name: Attest Build Provenance
      uses: actions/attest-build-provenance@e4d4f7c39adfa4c260fb5c147f0622000aa14b99  # v4.0.0
      with:
        subject-checksums: 'dist/checksums.txt'

  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs:
    - release
    permissions:
      contents: write
    steps:
    - name: Publish Release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GH_REPO: ${{ github.repository }}
      run: gh release edit "${{ github.ref_name }}" --draft=false
