name: test
on:
  workflow_call: {}
permissions:
  contents: read
jobs:

  unit:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - name: Checkout Code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        persist-credentials: false
    - name: Setup Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5  # v6.2.0
      with:
        go-version-file: go.mod
    - name: Tidy Modules
      run: |
        make tidy
        git diff --exit-code
    - name: Unit Test
      run: |
        make test
    - name: Parse Coverage
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de  # v5.5.2
      with:
        flags: unittests

  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - name: Checkout Code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        persist-credentials: false
    - name: Setup Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5  # v6.2.0
      with:
        go-version-file: go.mod
    - name: Tidy Modules
      run: |
        make tidy
        git diff --exit-code
    - name: Lint Go
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20  # v9.2.0
      with:
        version: v2.10.1
    - name: Lint YAML
      uses: karancode/yamllint-github-action@fdef6bc189425ecc84cc4543b2674566c0827053  # v2.1.1
      with:
        yamllint_config_filepath: .yamllint.yaml
